<h1>Game#puzzle</h1>
<p>Find me in app/views/game/puzzle.html.erb</p>


<form action="/game/store_cookies">
    <label>First Number</label>
    <input name="first">
    
    <label>Second Number</label>
    <input name="second">
    
    <label>Third Number</label>
    <input name="third">
    
    <button>Submit</button>
</form>
